.App {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #14151a;
}

.title {
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-style: italic;
}

.header {
  color: #fff;
}
